# Task 4
#### Think of a classification problem from your own experience and interest (e.g., distinguishing between two types of things/living beings/weather/personality/vehicle/industry/sports/houses/professionals etc.). Collect some real- world data to solve that classification problem. Have at least two classes, two attributes and at least 5 instances per class. Create a dataframe with this data and paste a screenshot of it. Also give a short description of the data (number of instances, number of attributes and the list of attributes, list of classes, and creator: Your name). The attributes should be numerical.
#### The classification problem should be a new one, but the dataset may contain data that are new (generated by you by any rough measurements) or collected from public domain. Please cite the references/sources from which you collect the data.

###### This data is a comparison of the average driving distance of golfers of various skill level (determine by their handicaps) at different elevations. It illustrates how much of a difference playing at sea level is compared to playing in high altitude.

###### Data Resource: Nickel, Chris. 2023a. “ARCCOS 2021 Distance Report.” MyGolfSpy, February. https://mygolfspy.com/news-opinion/arccos-2021-distance-report/.

In [12]:
import pandas as pd
from pandas import DataFrame

df = DataFrame()
df["20-24.9 HCP"] = [203, 206, 207, 205, 209, 213, 214, 215]
df["15-19.9 HCP"] = [213, 218, 218, 214, 219, 225, 225, 226]
df["10-14.9 HCP"] = [224, 229, 231, 231, 232, 237, 239, 239]
df["5-9.9 HCP"] = [234, 240, 243, 242, 246, 250, 253, 256]
df["0-4.9 HCP"] = [235, 243, 246, 245, 246, 256, 265, 265]
df.index = ["499 or Less", "500-999", "1000-1499", "1500-1999", "2000-2999", "3000-3999", "4000-4999", "5000+"]

df

             20-24.9 HCP  15-19.9 HCP  10-14.9 HCP  5-9.9 HCP  0-4.9 HCP
499 or Less          203          213          224        234        235
500-999              206          218          229        240        243
1000-1499            207          218          231        243        246
1500-1999            205          214          231        242        245
2000-2999            209          219          232        246        246
3000-3999            213          225          237        250        256
4000-4999            214          225          239        253        265
5000+                215          226          239        256        265

In [ ]:
'''
Write Description of DataFrame Here!!

'''