# Task 4
#### Think of a classification problem from your own experience and interest (e.g., distinguishing between two types of things/living beings/weather/personality/vehicle/industry/sports/houses/professionals etc.). Collect some real- world data to solve that classification problem. Have at least two classes, two attributes and at least 5 instances per class. Create a dataframe with this data and paste a screenshot of it. Also give a short description of the data (number of instances, number of attributes and the list of attributes, list of classes, and creator: Your name). The attributes should be numerical.
#### The classification problem should be a new one, but the dataset may contain data that are new (generated by you by any rough measurements) or collected from public domain. Please cite the references/sources from which you collect the data.

###### This data is a comparison of the average driving distance of golfers of various skill level (either professional or amateur) at different elevations. It illustrates how much of a difference playing at sea level is compared to playing in high altitude.

###### Data Resource: Nickel, Chris. 2023a. “ARCCOS 2021 Distance Report.” MyGolfSpy, February. https://mygolfspy.com/news-opinion/arccos-2021-distance-report/. Data not used, but inspiration for the dataset.

In [22]:
import pandas as pd
from pandas import DataFrame

df = DataFrame()
df["499 or Less"] = [203, 217, 237, 222, 250, 300, 309, 305, 340, 322, 110, 118, 135, 122, 150, 185, 190, 187, 205, 195]
df["500-999"] = [208,222,242,227,255,305,314,310,345,327,115,123,140,127,155,190,195,192,210,200]
df["1000-1499"] = [213, 227, 247, 232, 260, 310, 319, 315, 350, 332, 120, 128, 145, 132, 160, 195, 200, 197, 215, 205]
df["1500-1999"] = [218, 232, 252, 237, 265, 315, 324, 320, 355, 337, 125, 133, 150, 137, 165, 200, 205, 202, 220, 210]
df["2000-2999"] = [221, 235, 255, 240, 268, 318, 327, 323, 358, 340, 128, 136, 153, 140, 168, 203, 208, 205, 223, 213]
df["3000-3999"] = [223, 237, 257, 242, 270, 320, 329, 325, 360, 342, 130, 138, 155, 142, 170, 205, 210, 207, 225, 215]
df["4000-4999"] = [226, 240, 260, 245, 273, 323, 332, 328, 363, 345, 133, 141, 158, 145, 173, 208, 213, 210, 228, 218]
df["5000+"] = [228, 242, 262, 247, 275, 325, 334, 330, 365, 347, 135, 143, 160, 147, 175, 210, 215, 212, 230, 220]
df["Status"] = ["A","A","A","A","A","P","P","P","P","P","A","A","A","A","A","P","P","P","P","P"]
df.index = ["John Smith (D)", "Tiger Aldrin (D)", "Jeremy Cole (D)", "Lee West (D)", "Warren Buff (D)", "Waldo Where (D)", "Patrick Reel (D)", "Vijay Love (D)", "Greta Lindstrom (D)",
            "Jeffrey Bautista (D)", "John Smith (7)", "Tiger Aldrin (7)", "Jeremy Cole (7)", "Lee West (7)", "Warren Buff (7)", "Waldo Where (7)", "Patrick Reel (7)", "Vijay Love (7)", "Greta Lindstrom (7)",
            "Jeffrey Bautista (7)"]

df

,499 or Less,500-999,1000-1499,1500-1999,2000-2999,3000-3999,4000-4999,5000+,Status
John Smith (D),203,208,213,218,221,223,226,228,A
Tiger Aldrin (D),217,222,227,232,235,237,240,242,A
Jeremy Cole (D),237,242,247,252,255,257,260,262,A
Lee West (D),222,227,232,237,240,242,245,247,A
Warren Buff (D),250,255,260,265,268,270,273,275,A
Waldo Where (D),300,305,310,315,318,320,323,325,P
Patrick Reel (D),309,314,319,324,327,329,332,334,P
Vijay Love (D),305,310,315,320,323,325,328,330,P
Greta Lindstrom (D),340,345,350,355,358,360,363,365,P
Jeffrey Bautista (D),322,327,332,337,340,342,345,347,P
John Smith (7),110,115,120,125,128,130,133,135,A
Tiger Aldrin (7),118,123,128,133,136,138,141,143,A
Jeremy Cole (7),135,140,145,150,153,155,158,160,A
Lee West (7),122,127,132,137,140,142,145,147,A
Warren Buff (7),150,155,160,165,168,170,173,175,A
Waldo Where (7),185,190,195,200,203,205,208,210,P
Patrick Reel (7),190,195,200,205,208,210,213,215,P
Vijay Love (7),187,192,197,202,205,207,210,212,P
Greta Lindstrom (7),205,210,215,220,223,225,228,230,P
Jeffrey Bautista (7),195,200,205,210,213,215,218,220,P

In [23]:
'''
This dataframe analyzes the distance that golfers of different skill levels hit the ball(in yards) at different elevations
(in feet) with their driver and 7-iron.

Number of instances: 20
Number of attributes: 8
List of attributes:
    Driving/7-iron distance at:
        - 499 feet or less
        - 500-999 feet
        - 1000-1499 feet
        - 1500-1999 feet
        - 2000-2999 feet
        - 3000-3999 feet
        - 4000-4999 feet
        - 5000 feet or more
List of classes:
    Various skilled golfers determine by status:
        - Professional (P)
        - Amateur (A)
Creator: Sam Laquerre
'''

'\nThis dataframe analyzes the distance that golfers of different skill levels hit the ball(in yards) at different elevations\n(in feet) with their driver and 7-iron.\n\nNumber of instances: 20\nNumber of attributes: 8\nList of attributes:\n    Driving/7-iron distance at:\n        - 499 feet or less\n        - 500-999 feet\n        - 1000-1499 feet\n        - 1500-1999 feet\n        - 2000-2999 feet\n        - 3000-3999 feet\n        - 4000-4999 feet\n        - 5000 feet or more\nList of classes:\n    Various skilled golfers determine by status:\n        - Professional (P)\n        - Amateur (A)\nCreator: Sam Laquerre\n'