# Task #1
### Create a dataframe variable ‘a’ with this dataset. This dataframe should have all the 569 instances, 30 features and the class of 569 instances as 0 (Malignant) or 1 (Benign). The column that contains the classes should be labeled as "typeofcancer"

In [47]:
from sklearn.datasets import load_breast_cancer

a = load_breast_cancer().data
a.shape

(569, 30)

### (b) Now create a dataframe variable ‘df’ by slicing dataframe ‘a’. The new datafraeme ‘df’ should have all the instances, their labels but with the following three features: mean radius, mean perimeter and mean area. [Hints: use .iloc method to extract necessary columns from ‘a’]

#### (i) Show the first two rows.

In [57]:
import pandas as pd
from pandas import DataFrame

cancer_type = load_breast_cancer().target

#Convert to DataFrame
b = DataFrame(a)

#Create new DataFrame
df = DataFrame()
df["Mean Radius"] = b.iloc[:,0]
df["Mean Perimeter"] = b.iloc[:,2]
df["Mean Area"] = b.iloc[:,3]
df["Type of Cancer"] = cancer_type
df.iloc[0:2, :]

   Mean Radius  Mean Perimeter  Mean Area  Type of Cancer
0        17.99           122.8     1001.0               0
1        20.57           132.9     1326.0               0

#### (ii) Show the rows with indexes 17, 18, 19, 20, 21.

In [58]:
df.iloc[17:22, :]

    Mean Radius  Mean Perimeter  Mean Area  Type of Cancer
17       16.130          108.10      798.8               0
18       19.810          130.00     1260.0               0
19       13.540           87.46      566.3               1
20       13.080           85.63      520.0               1
21        9.504           60.34      273.9               1